nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 12%;
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: bolder;
  background-color: #5b5a5a;
  padding: 15px 10px;
  color: white;
  gap: 25px;
}

button {
  padding: 15px;
}
